# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend_venv/
venv/
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Test/evaluation artifacts
**/raw_test_probs.npy
**/raw_val_probs.npy
**/y_test.npy
**/y_val.npy

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Large dataset
backend/data/public_fraud_dataset.csv/
